
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: josefine sans, sans-serif;
}
html,body{
    font-family: josefine sans, sans serif;
}
.hero{
    background-color: black;
    background-size: cover;
    background-position: center;
    padding-top: 20px ;
    padding-bottom: 20px;
    height: 100vh;
    width: 100%;
}
.logo{
    color: white;
    font-size: 32px;
    letter-spacing: 1px;
    cursor: pointer;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 0 25px;
}
ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
}
ul li a:hover{
    color: #f9004d;
    transition: 0.2s ease-in-out;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
span{
    color: #f9004d;
}
a{
    text-decoration: none;
    color: white;
}
.btn{
    background-color: #f9004d;
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.4s;
}
.btn:hover{
    transform: scale(1.2);

}


h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}
h1{
    color: white;
    font-size: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container{
    position: absolute;
    top: 50%;
    left: 10%;
}
.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 15px 150px 15px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}
.newsletter form input:last-child{
    display: inline-block;
    position: absolute;
    padding: 10px 30px;
    border-radius: 30px;
    outline: none;
    background-color: #f9004d;
    box-shadow: 0px 0px 5px #000 , 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    width: 430px;
    height: auto;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 25px;

}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 20px;
    font-size: 18px;

}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s ease-in-out ;
}
button:hover{
    cursor: pointer;
    background: transparent;
    border: 2px #f9004d solid;
}
.service{
    background: #101010;
    padding: 100px 0px;
    width: 100%;
}
.title h2{
color: white;
font-size: 75px;
width: 1130px;
margin: 30px auto;
text-align: center;
}
.box{
display: flex;
align-items: center;
justify-content: center;
min-height: 400px;
}
.card{
    height: 365px;
    width: 300px;
    background: #191919;
    padding: 20px 35px;
    position: relative;
    margin: 15px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
}
.card i{
    color: #f9004d;
    display: block;
    font-size: 50px;
    margin: 25px 0px;
}
h5{
    color: white;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 18px;
}
.pra p{
    color: #fcfc;
    line-height: 27px;
    font-size: 16px;
    margin-bottom: 25px;

}
.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 0.4s ;
}
.card .button:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.contact-me{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 293px;
    align-items: center;
    background: #191919;
}
.contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.contact-me .button-two{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 0.4s ;
}
.contact-me .button-two:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
footer p:nth-child(1){
    font: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    font-size: 17px;
    color: white;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transition: 0.3s;
    transform: scale(1.3);
}
.end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font: 15px;

}
@media(max-width:600px)
{
h1{
font-size: 35px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 15px;
}
.logo{
    font-size: 15px;
}
ul li{
    padding: 5px;
}
ul li a{
    font-size: 4px;
}
.btn{
    padding: 1px 5px;
    font-size: 8px;
    display: inline-block;
}
.newsletter form{
    width: 280px
}
.about img{
    width:170px;
    height: auto;
}
.about-text{
    width:130px
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 18px;
    font-size: 4px;
}
.about-text h2{
    color: white;
    font-size: 10px;
}
.about-text h5{
    color: white;
    font-size: 6px;
    padding-bottom: 2px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.about-text p{
        color: #fcfc;
        letter-spacing: 0.3px;
        line-height: 12px;
        margin-bottom: 20px;
        font-size: 6px;
    
}

.about-text .button{
    background-color: #f9004d;
    color: white;
    font: 3px;
    text-decoration: none;
    border: 2px solid transparent;
    font-size: 3px ;
    padding: 7px 10px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    }
    .card{
        height: 200px;
        width: 150px;
        background: #191919;
        padding: 6px 9px;
        position: relative;
        margin: 5px;
        border-radius: 20px;
        text-align: center;
        overflow: hidden;
    }
    .card i{
        color: #f9004d;
        display: block;
        font-size: 11px;
        margin: 15px 0px;
}
    .card h5{
        font-size: 7.5px;

    }
    .pra p{
        color: #fcfc;
        line-height: 11px;
        font-size: 6px;
        margin-bottom: 15px;
    
    }
    .card .button{
        background-color: #f9004d;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: lighter;
        padding: 4px 12px;
        border-radius: 30px;
        transition: 0.4s ;
}

.contact-me{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 193px;
    align-items: center;
    background: #191919;
}
.contact-me p {
    color: white;
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: 15px;
    text-transform: capitalize;

}

.contact-me .button-two{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: lighter;
    padding: 4px 12px;
    border-radius: 30px;
    transition: 0.4s ;

}
.contact-me .button-two p{
    font-size: 3px;
}
footer{
    position: relative;
    width: 100%;
    height:200px;
    background: #101010;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
footer p:nth-child(1){
    font: 12px;
    color: white;
    margin-bottom: 15px;
    font-weight: bold;
}
footer p:nth-child(2){
    font-size: 10px;
    color: white;
    width: 300px;
    text-align: center;
    line-height: 16px;
}
.social{
    display: flex;
}
.social a{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 10px;
}
.social a:hover{
    transition: 0.3s;
    transform: scale(1.3);
}
.end{
    position: absolute;
    color: #f9004d;
    bottom: 25px;
    font: 7px;

}
}